.menu {
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-top: 120px;
}

#btn-index {
    height: 180px; 
    width: 280px; 
    display:flex; 
    justify-content: center; 
    align-items: center; 
    margin: 10px;
    font-size: 22px;
    font-weight: 700;
    background-color: #1565C0;
}

#btn-index:hover {
    background-color:#0f4685;
}

/* Cadastro */

.formCadastro {
    display: flex; 
    justify-content: center;
	flex-direction: column;
	width: 800px;
    margin: 80px auto 0 auto;
    border: 0px solid #000;
    border-radius: 15px;
}

.formCadastro form {
    margin: 20px !important;
}

.formCadastro .btn {
    background-color: #1565C0;
}

.formCadastro .btn:hover {
    background-color: #0f4685;
}

.formCadastroTitulo {
    background-color: #1565C0;
    border-radius: 15px 15px 0 0;
    color: white;
    font-weight: 700;
}

.formCadastroTitulo i {
    margin: 15px -40px 0 10px !important;
    color: white;
}

.formCadastroTitulo h5 {
    display: flex;
    justify-content: center;
    margin: 15px 0 15px 0;
}

 /* materialize input color */
.input-field input[type=text]:focus + label {
    color: #1565C0 !important;
}
.input-field input[type=text]:focus {
    border-bottom: 1px solid #1565C0 !important;
    box-shadow: 0 1px 0 0 #1565C0 !important;
}

/* materialize select color */
ul.dropdown-content.select-dropdown li:not(.disabled) span {
    color: #1565C0; 
}

#searchButton {
    margin-top: 16px; 
    height: 45px;
    margin-left: -12px;
}
#searchButton i {
    padding-top: 5px;
}

/* materialize datepicker colors */
.datepicker-date-display {
    background-color: #0f4685 !important;
}
.datepicker-table td.is-today {
    color: #1565C0 !important;
}

.datepicker-table td.is-selected {
    background-color: #1565C0 !important;
}

.datepicker-day-button:focus {
    background-color: #1565C0 !important;
}

.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done {
    color: #0f4685 !important;
}

.month-prev, .month-next {
    background-color: transparent !important;
}

/* Selecionar cliente/titulo */
.selec {
    margin-left: 20px;
}

.selec p:nth-child(4n) {
    margin-bottom: -40px;
}

.selec span {
    font-weight: 700;
}

.selec a {
    position: relative;
    top: -60px;
    left: 90%;
    margin: 0 auto;
}

.selec a i {
    color: #1565C0;
}

