.menu {
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-top: 120px;
}

#btn-index {
    height: 180px; 
    width: 280px; 
    display:flex; 
    justify-content: center; 
    align-items: center; 
    margin: 10px;
    font-size: 22px;
    font-weight: 700;
    background-color: #1565C0;
}

#btn-index:hover {
    background-color:#0f4685;
}

/* Cadastro */
.formCadastro {
    display: flex; 
    justify-content: center;
	flex-direction: column;
	width: 800px;
    margin: 80px auto 0 auto;
    border: 0px solid #000;
    border-radius: 15px;
}

.formCadastro form {
    margin: 20px !important;
}

.formCadastro .btn {
    background-color: #1565C0;
}

.formCadastro .btn:hover {
    background-color: #0f4685;
}

.formCadastroTitulo {
    background-color: #1565C0;
    border-radius: 15px 15px 0 0;
    color: white;
    font-weight: 700;
}

.formCadastroTitulo i {
    margin: 15px -40px 0 10px !important;
    color: white;
}

.formCadastroTitulo h5 {
    display: flex;
    justify-content: center;
    margin: 15px 0 15px 0;
}

 /* materialize input color */
.input-field input[type=text]:focus + label {
    color: #1565C0 !important;
}
.input-field input[type=text]:focus {
    border-bottom: 1px solid #1565C0 !important;
    box-shadow: 0 1px 0 0 #1565C0 !important;
}

/* materialize dropdown select color/size */
ul.dropdown-content.select-dropdown li:not(.disabled) span {
    color: #1565C0; 
}
.dropdown-content {
    max-height: 250px !important;
}

#searchButton {
    margin-top: 16px; 
    height: 45px;
    margin-left: -12px;
}
#searchButton i {
    padding-top: 5px;
}

/* materialize datepicker colors */
.datepicker-date-display {
    background-color: #0f4685 !important;
}
.datepicker-table td.is-today {
    color: #1565C0 !important;
}

.datepicker-table td.is-selected {
    background-color: #1565C0 !important;
}

.datepicker-day-button:focus {
    background-color: #1565C0 !important;
}

.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done {
    color: #0f4685 !important;
}

.month-prev, .month-next {
    background-color: transparent !important;
}

/* Selecionar cliente/titulo */
.selec {
    margin-left: 20px;
}

.selec p:nth-child(4n) {
    margin-bottom: -40px;
}

.selec span {
    font-weight: 700;
}

.selec a {
    position: relative;
    top: -60px;
    left: 90%;
    margin: 0 auto;
}

.selec a i {
    color: #1565C0;
}

/* Retirada */
.retirada {
    border: 0px solid #000;
    border-radius: 15px;
    margin-bottom: 20px;
}

.retirada p:nth-child(3) {
    margin-right: 20px;
}

.retirada p:nth-child(3),
.retirada p:nth-child(4) {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
}

.retirada li {
    padding: 10px 0px 10px 20px;
}

.retirada span {
    font-weight: 700;
}

#btn_retirada {
    margin: 60px 0px 20px 0px;
}

.retirada .btn, #btn_retirada {
    background-color: #1565C0;
}

.retirada .btn:hover, #btn_retirada:hover {
    background-color: #0f4685;
}

.retirada li a {
    position: relative;
    top: -80px;
    left: 82%;
    margin: 0 auto;
}

.retirada li p:nth-child(5) {
    margin-bottom: -20px;
}

/* Status Retirada */
.atrasado {
    display: inline-block;
}

.atrasado span {
    padding: 10px;
    border: 0px solid #000;
    border-radius: 15px;
    background-color: rgb(241, 27, 27);
    color: white;
    font-size: 16px;
}

.andamento {
    display: inline-block;
}

.andamento span {
    padding: 10px;
    border: 0px solid #000;
    border-radius: 15px;
    background-color: rgb(228, 224, 0);
    color: white;
    font-size: 16px;
}

.finalizado {
    display: inline-block;
}

.finalizado span {
    padding: 10px;
    border: 0px solid #000;
    border-radius: 15px;
    background-color: green;
    color: white;
    font-size: 16px;
}

.valor_finalizado {
    margin-bottom: 0px !important;
}

/* Input de filtro (ul li) */
#inputFiltro {
    width: 88%;
    margin-left: 60px;
}

#inputFiltroControle {
    width: 88%;
    margin-left: 40px;
}

.input-field-controle i {
    margin-left: 0px !important;
}

.input-field i {
    margin-left: 15px;
}

.input-field .prefix.active {
    color: #1565C0 !important;
  }

#ul_clientes_titulos {
    height: 500px; 
    overflow-y:scroll;
}

/* materialize modal size */
.modal { 
    width: 40% !important ; 
}
